.textarea {
  line-height: 1.5;
  width: 100%;
  padding: 6px;
  border: 2px solid var(--default-border-color);
  border-radius: var(--default-border-radius);
  background-color: #fff;
  color: var(--default-color);
  transition: all 0.3s ease;
}

.textarea:focus {
  border-color: var(--focus-border-color);
  box-shadow: 0 0 0 3px var(--focus-box-shadow-color);
}

.textarea:hover {
  border-color: var(--hover-border-color);
}

.textarea::placeholder {
  color: var(--placeholder-color);
  opacity: 1;
}
